@import '../../styles/variabels';
.reservation-component {
	position: fixed;
	z-index: 3000;
	left: -30%;
	top: 0;
	padding: 20px;
	width: 30%;
	height: 100vh;
	background-color: white;
	border-radius: 0 10px 10px 0;
	transition: 0.5s;

	
	&__btn-show-panel {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: -60px;
		bottom: 100px;
		width: 60px;
		height: 60px;
		background-color: $main-color;
		border-radius: 0 10px 10px 0;
		cursor: pointer;

		.arrow {
			color: white;
			transition: 0.5s;
		}
	}
}

@media(max-width: 992px){
	.reservation-component{
		width: 50%;
	}
}
@media(max-width: 768px){
	.reservation-component{
		width: 50%;
	}
}
@media(max-width: 576px){
	.reservation-component{
		width: 100%;
	}
}