@import '../../styles/variabels';

.login-page {
	@include center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 70vh;
	form {
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #929395;
		}
	}
}
