@import '../../styles/variabels';
.admin-page {
	display: flex;
	flex-direction: row;
	height: 100%;
	.content-panel {
		
		width: 90%;
		.users-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			.user {
				display: flex;
				justify-content: space-between;
				align-items: center;

				padding: 10px;
				margin: 10px;
				width: 70%;
				border: 1px solid black;
				.user-info {
					span {
						font-size: 1.6rem;
						margin: 0 10px;
					}
				}
				.buttons-box {
					button {
						margin: 0 5px;
					}
				}
			}
		}
	}
}
