@import '../../styles/variabels';
.admin-page {
	display: flex;
	flex-direction: row;
	height: 100%;
	min-height: 100vh;

	.btn-admin-page {
		padding: 8px 14px;
		border-radius: 10px;
		border: none;
		background-color: $main-color;
		color: white;
		cursor: pointer;
	}
	.add-car-btn {
		padding: 8px 16px;
	}
	.add-car-modal {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 5000;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.6);
		img {
			width: 300px;
			height: 200px;
		}
		.panel {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			padding: 20px;
			width: 70%;
			background-color: white;
			border-radius: 10px;
			.close-modal {
				position: absolute;
				top: 20px;
				right: 20px;
				padding: 10px;
				font-weight: bold;
				cursor: pointer;
			}
			form {
				display: flex;
				flex-direction: column;
				width: 50%;
				label {
					font-size: 1.6rem;
					font-family: 'Roboto Condensed', sans-serif;
					margin-top: 5px;
				}
				input {
					padding: 5px;
				}
				select {
					padding: 5px;
					font-size: 1.6rem;
				}
				button {
					margin: 15px auto;
					padding: 5px;
					width: 50%;
					cursor: pointer;
				}
			}
		}
	}
	.content-panel {
		width: 90%;
		padding: 20px;

		.users-container,
		.offers-container,
		.cars-container {
			form {
				label {
					margin-right: 10px;
					font-size: 1.6rem;
					font-family: 'Roboto Condensed', sans-serif;
				}
				input {
					padding: 10px;
					border-radius: 10px;
					border: 1px solid black;
				}
				button {
					margin: 0 10px;
				}
			}
			display: flex;
			flex-direction: column;
			align-items: start;
			width: 100%;

			.user,
			.offer,
			.car {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px;
				margin: 10px 0;
				width: 100%;
				max-width: 1200px;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				border-radius: 10px;
				img {
					width: 180px;
				}
				.modal {
					position: absolute;
					z-index: 10000;
					width: 100vw;
					height: 100vh;
					top: -30px;
					left: -20px;
					background-color: rgba(0, 0, 0, 0.5);
				}

				.user-info,
				.offer-info,
				.car-info {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					.box {
						display: flex;
						flex-direction: column;
						margin: 0 10px;
						.label {
							color: $main-color;
							font-weight: bold;
						}
					}
					span {
						font-family: 'Roboto Condensed', sans-serif;
						font-size: 1.4rem;
					}
				}

				.buttons-box {
					display: flex;
					justify-content: center;
					align-items: center;
					button {
						margin: 0 5px;
						padding: 8px;
						border-radius: 10px;
						cursor: pointer;
					}
				}
			}
		}
		.orders-container {
			.not-paid-status {
				background-color: gray;
				color: white;
			}
			form {
				input {
					padding: 10px;
					border-radius: 10px;
				}
				button {
					margin: 0 10px;
				}
			}
			.order {
				position: relative;
				display: flex;
				flex-direction: column;
				padding: 10px;
				margin: 10px 0;
				max-width: 1600px;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				border-radius: 10px;

				.order-info {
					display: flex;
					flex-direction: row;
					align-items: start;
					margin-top: 10px;
					.box {
						display: flex;
						flex-direction: column;
						margin: 0 20px;
						.label {
							color: $main-color;
							font-weight: bold;
						}
					}
					span {
						font-family: 'Roboto Condensed', sans-serif;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
