@import '../../styles/variabels';
.admin-page {
	
	display: flex;
	flex-direction: row;
	height: 100%;
	min-height: 100vh;
	.add-car-btn {
		padding: 5px 10px;
	}
	.add-car-modal {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.6);
		.panel {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 70%;
			height: 70%;
			background-color: white;
			border-radius: 10px;
			.close-modal {
				position: absolute;
				top: 20px;
				right: 20px;
				padding: 10px;
				font-weight: bold;
				cursor: pointer;
			}
			form {
				display: flex;
				flex-direction: column;
				width: 50%;
				label {
					font-size: 1.8rem;
				}
				input{
					padding: 5px;
				}
				select{
					padding: 5px;
					font-size: 1.8rem;
				}
				button{
					margin: 15px auto;
					padding: 5px;
					width: 50%;
				}
			}
		}
	}
	.content-panel {
		width: 90%;
		padding: 20px;

		// users-page
		.users-container,
		.offers-container,
		.cars-container,
		.orders-container {
			form {
				label {
					font-size: 1.6rem;
				}
				input {
					padding: 10px;
				}
			}
			display: flex;
			flex-direction: column;
			align-items: start;
			width: 100%;
			.user,
			.offer,
			.car,
			.order {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px;
				margin: 10px 0;
				width: 100%;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				border-radius: 10px;
				img {
					width: 200px;
				}
				.user-info,
				.offer-info,
				.car-info,
				.order-info {
					display: flex;
					justify-content: center;
					align-items: center;

					.box {
						display: flex;
						flex-direction: column;
						margin: 0 20px;
						.label {
							color: $main-color;
							font-weight: bold;
						}
					}
					span {
						font-family: 'Roboto Condensed', sans-serif;
						font-size: 1.6rem;
					}
				}
				.buttons-box {
					display: flex;
					justify-content: center;
					align-items: center;
					button {
						margin: 0 5px;
						padding: 8px;
						border-radius: 10px;
						cursor: pointer;
					}
				}
			}
		}
		.offers-container {
			.offer {
				padding: 10px;
				margin: 10px 0;
				border: 1px solid black;
			}
		}
	}
}
