@import '../../../../styles/variabels';
.equipment-page {
	display: flex;
	flex-direction: column;

	padding: 5vh 50px 50px 50px;
	width: 100vw;

	.btn-continue {
		align-self: flex-end;
		// margin: 50px auto;
		text-align: center;
		padding: 10px 20px;
		width: 150px;
		font-size: 2.5rem;
		text-decoration: none;
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid $main-color;
		border-radius: 10px;
		color: $main-color;
		cursor: pointer;
		transition: 0.3s;
	}
	.logg-in-link{
		font-size: 1.8rem;
	}
	
	.btn-continue:hover {
		color: white;
		background-color: $main-color;
	}
	
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1600px;
	}
	.additive {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		margin-bottom: 20px;
		width: 60%;
		height: 170px;
		border: 1px solid $gray-color;
		border-radius: 10px;
		transition: 0.3s;
		.icon-box {
			.icon {
				color: $main-color;
				transition: 0.3s;
			}
		}
		.text {
			width: 50%;
			h4 {
				padding: 5px 0;
				color: $main-color;
				transition: 0.3s;
			}
			p {
				font-size: 1.4rem;
				transition: 0.3s;
			}
		}
		.price {
			padding: 10px;
			border-left: 1px solid $gray-color;
			border-right: 1px solid $gray-color;
			transition: 0.3s;
		}
		.btn-add {
			padding: 15px 30px;
			font-weight: bold;
			border-radius: 10px;
			border: 2px solid $main-color;
			color: $main-color;
			background-color: white;
			cursor: pointer;
			transition: 0.3s;
		}
	}
	.active-additive {
		background-color: $main-color;
		border: 1px solid $main-color;

		.icon-box {
			.icon {
				color: white;
			}
		}
		.text {
			h4 {
				color: white;
			}
			p {
				color: white;
			}
		}
		.price {
			border-left: 1px solid white;
			border-right: 1px solid white;
			p {
				color: white;
			}
		}
		.btn-add {
			border: 2px solid white;
			color: white;
			background-color: $main-color;
		}
	}
}
