.pagination-component {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;
	padding: 40px 0;
	width: 100%;
	max-width: 1600px;
	.item {
		h3 {
			margin: 0;
			font-size: 1.8rem;
			color: $h3-color;
			span {
				padding: 3px 10px;
				margin-right: 10px;
				font-size: 1.8rem;
				border: 2px solid $h3-color;
				border-radius: 50%;
			}
		}
		.active {
			color: $main-color;
			span {
				border: 2px solid $main-color;
			}
		}
	}
	.arrow {
		color: $h3-color;
	}
}
.cars {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		padding: 50px;
		width: 100vw;
		max-width: 1600px;
	}
}

@media (max-width: 768px) {
	.pagination-component {
		display: none;
	}
}
