@import '../../styles/variabels';

.search-panel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 150px;
	margin: 0 auto;
	width: 80%;

	form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		width: 100%;
		max-width: 1400px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 15px;
		background: rgba(255, 255, 255, 0.5);
		.form-item {
			display: flex;
			flex-direction: column;
			padding: 10px;
			label {
				padding: 5px 0px;
				font-weight: bold;
				font-size: 1.7rem;

				font-family: 'Roboto Condensed', sans-serif;
			}
			input,
			select {
				border: none;
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 1.8rem;
				background: none;
			}
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 50px;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 1.8rem;
			color: white;
			border-radius: 10px;
			border: none;
			background-color: $main-color;
			cursor: pointer;
		}
	}
	.error {
		position: absolute;
		top: 130px;
		color: red;
		font-size: 2rem;
	}
}
@media (max-width: 768px) {
	.search-panel {
		form {
			position: relative;
			bottom: 150px;
			flex-direction: column;
			.form-item {
				flex-direction: row;
				width: 100%;
				border-bottom: 1px solid $gray-color;
			}
			button {
				margin-top: 10px;
				width: 100%;
			}
		}
	}
}
