@import '../../../styles/variabels';
.car-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;

	height: 100vh;
	width: 100vw;
	background-color: #c3cbdc;
	background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
	overflow: scroll;
	// background-image: linear-gradient(315deg, #36669d 0%, #d3d3d3 74%);
	&__header {
		display: flex;
		justify-content: space-between;
		width: 60%;
		padding: 20px;

		a {
			@include center;
			height: 30px;
			width: 30px;
			border: 1px solid black;
			border-radius: 50%;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		background-color: white;
		border-radius: 10px;
		hr {
			width: 100%;
		}
		img {
			width: 500px;
			position: relative;
			bottom: 180px;
		}
		.car-name {
			text-align: center;
		}
		.informations {
			display: flex;
			flex-wrap: wrap;
			padding: 20px;

			.container {
				margin-right: 60px;
				.box {
					display: flex;
					justify-content: start;
					align-items: center;
					margin-top: 10px;
					.icon {
						margin-right: 5px;
						color: $gray-color;
					}
					.confirm {
						color: $main-color;
					}
				}
			}
		}

		.car-price-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: end;
			width: 100%;
			padding: 20px;
		}
	}
}
