.edit-offer-component {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	.panel {
		top: 100px;
		padding: 20px;
		z-index: 5000;
		background-color: white;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		h3 {
			color: $main-color;
		}
		form {
			display: flex;
			flex-direction: column;
		}
	}
}
