.edit-user-component {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;

	.panel {
		position: relative;
		top: 100px;
		padding: 20px;
		z-index: 5000;
		background-color: white;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		h3 {
			text-align: center;
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: start;
			label {
				margin-top: 10px;
				font-size: 1.8rem;
				font-family: 'Roboto Condensed', sans-serif;
			}
			select {
				padding: 5px;
			}
			.buttons-container {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin-top: 10px;
				button {
					padding: 8px 16px;
					background-color: $main-color;
					border: none;
					border-radius: 10px;
					color: white;
					cursor: pointer;
				}
			}
		}
	}
}
