@import '../../styles/variabels';

.card-cars-page {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 20px;
	width: 350px;
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 10px;

	&__title {
		.car-name {
			font-size: 2rem;
			padding-bottom: 5px;
		}
		.car-type {
			font-weight: bold;
			font-size: 1.8rem;
			color: $gray-color;
		}
	}
	img {
		margin: 0 auto;
		width: 80%;
		height: 150px;
	}
	hr {
		width: 100%;
		margin: 20px 0;
		background-color: #e5e5e5;
		color: #e5e5e5;
	}
	&__price-box {
		.price {
			font-size: 2.3rem;
			color: black;
			font-weight: bold;
			text-align: end;
		}
		.text {
			text-align: end;
		}
	}
	&__details {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;

		a {
			padding: 10px 20px;
			text-align: center;
			width: 60%;
			text-decoration: none;
			border: 1px solid $main-color;
			border-radius: 10px;
			color: $main-color;
			font-size: 2rem;
			font-family: 'Roboto Condensed', sans-serif;
			transition: 0.3s;
		}
		a:hover {
			background-color: $main-color;
			color: white;
		}
	}
}
