@import '../../styles/variabels';
.order-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10vh 40px 40px;
	.pagination-component {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 40px 0;
		max-width: 1600px;
		.item {
			h3 {
				margin: 0;
				font-size: 1.8rem;
				color: $h3-color;
				span {
					padding: 3px 10px;
					margin-right: 10px;
					font-size: 1.8rem;
					border: 2px solid $h3-color;
					border-radius: 50%;
				}
			}
			.active {
				color: $main-color;
				span {
					border: 2px solid $main-color;
				}
			}
		}
		.arrow {
			color: $h3-color;
		}
	}
	.cars {
		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			padding: 50px;
			width: 100vw;
			max-width: 1600px;
		}
	}
	.filters-component {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 20px 50px;
		max-width: 1400px;
		.filters {
			display: flex;
			flex-wrap: wrap;

			.filter {
				padding: 10px 20px;
				margin: 10px;
				border: 2px solid $p-color;
				border-radius: 5px;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				cursor: pointer;
			}
			.active {
				background-color: $main-color;
				border: 2px solid $main-color;
				.name {
					color: white;
				}
			}
			.filter:hover {
				background-color: $main-color;
				border: 2px solid $main-color;
				.name {
					color: white;
				}
			}
		}
		.sort-btn {
			select {
				padding: 10px 20px;
				font-size: 1.4rem;
				color: $p-color;
				border-radius: 5px;
				border: 2px solid $p-color;
				option {
					font-size: 1.4rem;
				}
			}
		}
	}
}
