@import '../../../styles/variabels';

.testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 40px;

	.slider-container {
		width: 100%;

		.slick-slide {
			display: flex;
		}
		.slider {
			margin: 0 auto;
			width: 60%;
			max-width: 800px;
			padding: 20px;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

			.slick-next:before,
			.slick-prev:before {
				position: relative;
				color: $main-color;
				font-size: 50px;
				opacity: 1;
			}
			.slick-prev:before {
				right: 30px;
			}
		}
	}
}

@media (max-width: 576px) {
	.testimonials {
		.slider-container {
			.slider {
				width: 80%;
			}
		}
	}
}
