@import '../../styles/variabels';

.signin-page {
	@include center;
	padding-top: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 70vh;
	.signin-panel {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 600px;
		height: 400px;
		background-color: white;
		border-radius: 10px;
		padding: 15px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		h2 {
			font-size: 4rem;
			text-align: center;
			color: $main-color;
			text-shadow: 1px 1px 2px $main-color;
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			label {
				font-size: 2rem;
			}
			input {
				width: 80%;
				padding: 10px;
				margin: 10px 0;
				border-radius: 5px;
				width: 80%;
				border: none;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}
			button {
				@include center;
				margin: 20px auto;
				padding: 10px 20px;
				width: 80%;
				font-size: 1.6rem;
				font-weight: normal;
				border: none;
				border-radius: 5px;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				cursor: pointer;
				transition: 0.3s;
			}
			button:hover {
				color: white;
				background-color: $main-color;
			}
		}
		.error {
			text-align: center;
			color: red;
		}
	}
}
