.summary-page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 10vh 50px 50px 50px;
	width: 100vw;
	max-width: 1600px;

	&___login-container {
		width: 70%;
	}
	&__summary-view-container {
		padding: 20px;
		width: 40%;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
	.btn-go-to-payment {
		margin-top: 20px;
		padding: 10px 20px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 2.5rem;
		border: 1px solid $main-color;
		border-radius: 10px;
		color: $main-color;
		background-color: white;
		cursor: pointer;
		transition: 0.3s;
	}
	.btn-go-to-payment:hover {
		color: white;
		background-color: $main-color;
	}
	.disabled-btn {
		color: gray;
		border: 1px solid gray;
	}
	.disabled-btn:hover {
		color: gray;

		background-color: white;
	}
	.info-container {
		p {
			margin-top: 20px;
		}
	}
}
@media (max-width: 992px) {
	.summary-page {
		flex-direction: column;

		&__summary-view-container {
			margin-top: 30px;
			width: 400px;
		}
	}
}
@media (max-width: 576px) {
	.summary-page {
		padding: 0;
		padding-top: 15vh;

		&___login-container {
			width: 90%;
		}
		&__summary-view-container {
			width: 90%;
		}
	}
}
