@import '../styles/variabels';
.header {
	width: 100%;
	height: 100vh;
	padding: 2%;
	background-image: linear-gradient(180deg, #ebebeb 100%, #fdfbfb 0%);
	&__container {
		position: relative;
		height: 100%;
		width: 100%;
		.text-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			max-width: 500px;
			p {
				font-size: 1.8rem;
			}
			.second-title {
				margin-top: 15px;
				font-size: 2rem;
				color: $second-title-color;
				font-family: 'Dancing Script', cursive !important;
			}
		}

		img {
			position: absolute;
			right: -300px;
			top: 200px;
			height: 500px;
			width: 900px;
		}
	}
}

@media (max-width: 992px) {
	.header {
		.wrapper {
			width: 100%;
		}
		&__container {
			.text-container {
				margin: 0 auto;
				width: none;
			}
			img {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.header {
		&__container {
			.text-container {
				position: relative;
				bottom: 100px;
			}
		}
	}
}
@media (max-width: 576px) {
	.header {
		padding: 30px;
		&__container {
			.text-container {
				.main-title {
					font-size: 5rem;
				}
			}
		}
	}
}
