// components'
@import '../components/MainView/Nav/NavLogo/navLogo.scss';
@import '../components/CardCar-MainView/card-car.scss';
@import '../components/OpinionCard/opinion-card.scss';
@import '../components/MainView/Nav/NavLinks/navLinks.scss';
@import '../components/CardCar-CarsPage/card-car-cars-page.scss';
@import '../components/CardCar-OrderPage/card-car-order-page.scss';
@import '../components/ReservationComponent/reservation-component.scss';
@import '../components/Filters/filters.scss';
@import '../components/Pagination-component/pagination.scss';
@import '../components/LoginComponent/logIn-component.scss';
@import '../components/ReservationComponent/ReservationComponentContent/reservation-component-context.scss';
@import '../pages/admin/components/AssidePanel.scss';

// mainView
@import '../components/MainView/Nav/nav.scss';
@import 'header';
@import 'variabels';
@import '../components/SearchPanel/searchPanel.scss';
@import '../components/MainView/Brands/brands.scss';
@import '../components/MainView/HowWork/howWork.scss';
@import '../components//MainView/WhyUs/whyus.scss';
@import '../components/MainView/MostPopular/most-popular.scss';
@import '../components/MainView/Testimonials/testimonials.scss';
@import '../components/MainView/Footer/footer.scss';

// pages
@import '../pages/cars/cars.scss';
@import '../pages/cars/[id]/car-page.scss';
@import '../pages/login/login-page.scss';
@import '../pages/signin/signin-page.scss';
@import '../pages/order/order-page.scss';
@import '../pages/order/insurance/insurancePage.scss';
@import '../pages/order/insurance/equipment/equipment.scss';
@import '../pages/order/insurance/equipment/summary/summary.scss';
@import '../pages/admin/admin-page.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
main {
	overflow: hidden;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}
.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 1200px;
}
h1 {
	font-size: 8rem;
	font-family: 'Roboto Condensed', sans-serif;
}
h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: $h3-color;
}
h3 {
	margin-top: 15px;
	font-size: 4rem;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 30px;
}
h4 {
	padding: 10px 0;
	font-size: 1.8rem;
	font-family: 'Roboto Condensed', sans-serif;
}
h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	color: $p-color;
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
}
// animation
.animate {
	.background {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background: $main-color;
		overflow: hidden;
	}
	.background li {
		position: absolute;
		display: block;
		list-style: none;
		width: 20px;
		height: 20px;
		background: rgba(255, 255, 255, 0.2);
		animation: animate 19s linear infinite;
	}

	.background li:nth-child(0) {
		left: 0%;
		width: 139px;
		height: 139px;
		bottom: -139px;
		animation-delay: 1s;
	}
	.background li:nth-child(1) {
		left: 65%;
		width: 183px;
		height: 183px;
		bottom: -183px;
		animation-delay: 4s;
	}
	.background li:nth-child(2) {
		left: 4%;
		width: 171px;
		height: 171px;
		bottom: -171px;
		animation-delay: 10s;
	}
	.background li:nth-child(3) {
		left: 19%;
		width: 171px;
		height: 171px;
		bottom: -171px;
		animation-delay: 7s;
	}
	.background li:nth-child(4) {
		left: 36%;
		width: 157px;
		height: 157px;
		bottom: -157px;
		animation-delay: 1s;
	}
	.background li:nth-child(5) {
		left: 2%;
		width: 128px;
		height: 128px;
		bottom: -128px;
		animation-delay: 24s;
	}
	.background li:nth-child(6) {
		left: 68%;
		width: 165px;
		height: 165px;
		bottom: -165px;
		animation-delay: 2s;
	}
	.background li:nth-child(7) {
		left: 51%;
		width: 193px;
		height: 193px;
		bottom: -193px;
		animation-delay: 26s;
	}
	.background li:nth-child(8) {
		left: 3%;
		width: 171px;
		height: 171px;
		bottom: -171px;
		animation-delay: 18s;
	}
	.background li:nth-child(9) {
		left: 56%;
		width: 142px;
		height: 142px;
		bottom: -142px;
		animation-delay: 39s;
	}
}
